<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="ns"  default="$(env HOSTNAME)"/>
    <group ns="$(arg ns)">
        <node pkg="carp_ros" type="carpServiceServer.jl" name="carpServer" output="screen"/>
        <!-- <node pkg="carp_ros" type="carpServer.py" name="carpServer" output="screen"/> -->
    </group>
</launch>